@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Grenze+Gotisch:wght@800&display=swap');

:root{
    --cor0:#f8cea0;
    --cor1:#FEA443;
    --cor2:#705E78;
    --cor3:#A5AAA3; 
    --cor4:#812F33;
    --fonte0: Arial, Helvetica, sans-serif;
    --fonte1: 'Grenze Gotisch', Verdana;
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor3);
    font-family: var(--fonte0);
}

header {
    padding-top: 30px;
    min-height: 200px;
    text-align: center;
    color: var(--cor4);
    background-image: linear-gradient(to top, var(--cor1), var(--cor0));   
}
header h1 {
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.24);
    font-size: 5.0em;
    font-family: var(--fonte1);
}
e
header p {
    max-width: 500px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: normal;
    margin-bottom: 20px;
    margin: auto;
    font-family: var(--fonte0);
    font-size: 1.2em;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.24);
}

nav {
    padding: 10px;
    background-color: var(--cor1);
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.119);
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    padding: 10px;
    margin-left: 10px;
    transition-duration: 0.5s;
    border-radius: 5px;
}

nav a:hover {
    background-color: var(--cor0);
    color: var(--cor4);
}

main {
    margin: auto;
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    padding: 20px ;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.39);
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    font-weight: normal;
    font-size: 1.8em;
    color: var(--cor4);
    font-family: var(--fonte1);
}

main  h2 {
    background-image: linear-gradient(to right, var(--cor0), transparent);
    font-size: 1.3em;
    font-weight: normal;
    color: var(--cor4);
    font-family: var(--fonte1);
    text-indent: 8px;
}

main p {
    margin: 20px 0px 20px 0px;
    font-size: 1em;
    line-height: 2em;
    text-align: justify;
    text-indent: 30px;
}

main strong {
    color: var(--cor4);
    font-weight: bolder;
    padding: 2px 6px;
}

main a {
    text-decoration: none;
    font-weight: bolder;
    color: var(--cor4);
    background-color: var(--cor0);
    padding-left: 2px 6px;
}
 main a:hover {
     text-decoration: underline;
     color: var(--cor1);
 }

 main img {
    margin: auto;
    display: block;
    width: 60%;
}

div.video {
    background-color: var(--cor0);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.9%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor0);
    padding: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.158);
    border-radius: 10px;
    margin-bottom: 30px;
    padding-bottom: 30px;
 }

 aside > h3 {
     font-size: 1.2em;
     background-color: var(--cor4);
     color: white;
     padding: 10px;
     border-radius: 10px 10px 0px 0px;
     margin: -10px -10px 0px -10px;
 }

 aside ol {
     list-style-type: "\2714\00A0\00A0";
     list-style-position: inside;
     columns: 2;
 }

 footer {
     background-color: var(--cor4);
     padding: 10px;
     color: white;
     text-align: center;
 }

footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

footer a:hover {
    color:var(--cor0);
    text-decoration: underline;
}
